* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    
}

body {
    background: linear-gradient(#794053, #c0ac5ad0);
    background-attachment: fixed;
    padding-top:60px;
}

#whiskyimage {
    background: url('../images/whiskyimage.png') no-repeat center center;
    width: 90%;
 /* Adjust the width as desired */
  height: 350px; /* Maintain aspect ratio */
  margin: 0 auto;
  background-size: contain; /* Fit the image within the container without cropping */
}

#start-page h1{
    padding-top: 10px
}

#start-page p{
    padding-top: 5px;
    text-align: center
}

#quiz-container {
    background: #fff;
    padding: 25px;
    width: 80%;
    margin: 0 auto;
    max-width:700px;
    display:none
}

#quiz-container.show {
    display: block;
  }
 

#quiz-container h1 {
    font-weight: 25px;
    text-align: center;
}

#question-container {
    padding: 20px;
}

#question{
    padding:10px
}

.answers {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
}

.answers:hover:not([disabled]){
    background: #1b191b77;
    color:#fff
}

#next-button {
    background: #352430;
    color: #fff;
    padding: 10px;
    width: 100px;

}

#start-page {
    background: #fff;
    padding: 25px;
    width: 80%;
    margin: 0 auto;
    max-width:700px;
}

#start-button {
    background: #352430;
    color: #fff;
    padding: 10px;
    width: 100px;
    margin: 0 auto;
    display:block;
}


.correct{
    background: #9aeabc
}

.incorrect{
    background: #ce2620
}